body {
    background-color: black;
}

.num {
    width: 300px;
    height: 300px;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    color: white;
}



button {
    background-color: grey;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    border: solid;

    gap: 100px;
   
}

.button1{
  margin-right: 155px;
}

h2{
  color: white;
}